.container {
  display: flex;
  justify-content: space-between;
}
.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 300px) and (max-width: 850px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .products {
    justify-content: center;
  }
}
