.sidebar {
  width: 220px;
  height: fit-content;
  margin: 10px;
  padding: 20px;
  margin-left: 30px;
  background-color: #fff;
  border: 2px dashed #03346e;
  border-radius: 20px;
}
.sidebar div {
  width: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #021526;
  font-weight: 500;
}
.sidebar p {
  margin-left: 10px;
}
.sidebar li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
  color: #03346e;
  transition: 100ms linear all;
}
.sidebar li:hover {
  margin-left: 5px;
  font-weight: 600;
}
.selected {
  font-weight: 600;
  background-color: #021526;
  color: #fff !important;
  border-radius: 10px;
  padding-left: 15px !important;
}
@media screen and (min-width: 300px) and (max-width: 400px) {
  .sidebar {
    width: 95%!important;
  }
  .sidebar ul li {
    padding: 0 5px 0 0;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .sidebar {
    width: 85%;
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar div {
    font-size: 0.7rem;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }
  .sidebar ul li {
    font-size: 0.5rem;
    height: fit-content;
    padding-left: 5px !important;
  }
}
@media screen and (min-width: 500px) and (max-width: 600px) {
  .sidebar {
    width: 85%;
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar div {
    font-size: 0.8rem;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }
  .sidebar ul li {
    font-size: 0.7rem;
    height: fit-content;
    padding-left: 5px !important;
    margin-right: 7px;
  }
}
@media screen and (min-width: 600px) and (max-width: 850px) {
  .sidebar {
    width: 560px;
    margin-left: 0;
    margin-right: 0;
  }
  .sidebar div {
    font-size: 0.9rem;
  }
  .sidebar ul {
    display: flex;
    justify-content: space-around;
  }
  .sidebar ul li {
    font-size: 0.8rem;
    height: fit-content;
    padding-left: 5px !important;
    margin-right: 15px;
  }
}
